.flexbox {
    display: flex;
    
    padding: 20px
}
.item {
   
    padding: 5px;
}

#box1 {
    justify-content:space-evenly;

    background: rgba(255, 105, 180, 0.388);
}

#box2, #box3, #box4 {
    justify-content: center;
    background: rgba(255, 105, 180, 0.324);
}

h2{
    text-align: center;
}

button {
padding: 5px;
background: linear-gradient(rgb(255, 192, 238), rgb(240, 164, 240));
border-radius: 5px;
border: 2px solid white;
color: white;
}

img {
border-radius: 10px;
border: 2px solid white;
}