.flexbox {
    display: flex;
    
    padding: 20px
}
.item {
   
    padding: 5px;
}

#box1 {
    justify-content:space-evenly;

    background: rgba(255, 105, 180, 0.388);
}

#box2, #box3, #box4 {
    justify-content: center;
    background: rgba(255, 105, 180, 0.324);
}

h2{
    text-align: center;
}